

/*mobile css*/
body{margin: 15px auto; width: 80vw; background-color: rgb(60, 48, 48);
     color: aliceblue;
}
  .intro{display: grid; grid-template-columns: 1fr;
    grid-template-areas: "image"
                          "h1"
                          "h2"
                          "h3";
    grid-template-rows: 2fr 1fr 1fr 1fr;
    padding: 0%; margin: 0%;
    justify-content: center;
    align-items: center;
                        }
  
   .h1{grid-area: h1; 
     margin-top: 24.5rem;
     display: flex; flex-direction: column;
     /* justify-content: center;
     align-items: center; */
   }
  .intro h3{grid-area: h2; padding: 0%; margin: 0%;
            /* justify-self: center; 
            align-self:center;
            align-content: stretch;
             text-align: center; */
            }
  .intro h4 {grid-area: h3;
    /* justify-self: center; 
    align-self:center;  */
  }
  .intro img{ grid-area: image; position: absolute; width: width 6
              0vw; max-height: 60vh ;  z-index: -1; top: 8rem;
              justify-items: center; align-self: center;
            }
  
  .profile{max-height: 80vh; padding: 0%; margin: 0%;}
  .flex-column{display: flex; flex-direction: column; font-size: 2rem;
               padding: 0%; margin: 0%;}


header { justify-content: center;
         font-size: 2.5rem; padding: 0%;
         align-items: center; justify-items: center; margin: 0%;}
header h2{padding: 0%; margin: 0%; align-self: center;  justify-self: center;
          text-align: justify;}

.flex-column-contact{display: flex; flex-direction: column; font-size: 1rem;
              padding: 0%; margin: 0%;
}
.flex{display: flex; flex-direction: column; font-size: 2rem;
  padding: 0%; margin: 0%;
}
.line1{display: flex; flex-direction: column; color: aqua; margin-top: -2rem;
       margin-left: 3.7rem;}
.line{margin: -0.3rem; margin-left: 0.15rem; color: aqua;}
li img{width: 25px; height: 25px; padding: 0%; margin-top: 2rem;}
li {list-style: none; padding: 0 1.1rem; margin-top: -4rem;}

.centre  h1,p  {   padding: 0%;
                    
                  text-align: center;
          }
ul{display: flex; }
.intro{display: flex; flex-direction: column;
       gap: 1.5rem;
}
a{text-decoration: none; color: aliceblue ;}
.project-heading{display: flex; justify-content: space-between;}
.one { padding: 3rem 0 3rem; font-size: 4rem;}
.two{ padding: 3rem 0 3rem; justify-items: center; align-self: end; }
.projects {display: flex;  flex-direction: column; gap: 2rem;}
.projects img{width: 80vw;}
hr{margin: 2rem 0 2rem;}
p{grid-area: text;}
.input1{grid-area: input; font-size: xx-large; margin: auto; align-self: end}
.footer{ display: flex; padding-top: 3rem; justify-content: center; padding: 0; flex-direction: column; align-items: center;}
.contact {display: flex; flex-direction: column; justify-content: center;
          align-items: center; text-align: center;}


/* desktop css */
@media (min-width: 929px) {
  header{display: flex; justify-content: space-between; padding-bottom: 3rem;}  
  header h2{margin-left: -1.5rem; font-size: 2rem;}
  .intro{display: grid; grid-template-columns: 30% 30% 40%;
    grid-template-areas: "h1 h1 image"
                          "h2 h2 image"
                          "h3 h3 image";
     grid-template-rows: 8rem 8rem 1rem;
     margin-bottom: 12rem;
}
.h1{grid-area: h1; font-size: 5rem; padding: 0%; margin: 0%; display: flex; flex-direction: column; 
  display: inline-block;}
.intro h3{grid-area: h2; padding: 0%; margin: 0%; font-size: 1rem;  }
.intro h4 {grid-area: h3;padding: 0%;  
          }
.projects h4{display: none;}
.intro img{ grid-area: image; right:150px; top: 1px; z-index: -1;
             min-height: 40vw; width: 25vw;}
.flex-column{ font-size: 1rem;
              padding: 0%; margin: 0%;
               }             
.line{margin: -0.10rem; margin-left: 0.15rem; color: aqua; padding: 0%;
                display: inline-block;}

.flex{display: flex; flex-direction: column; font-size: 5rem;
}

.line1{  margin-top: -6rem; margin-left: 8rem; color: aqua;}


.experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer{ display: flex; padding-top: 3rem; justify-content: space-between; padding: 0;}
.contact {display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: "cont input"
                        "text input"
                        "text input";
  grid-template-rows: 1rem 1rem 2rem 2rem ;
  /* align-content: stretch; */
  padding-top: 3rem;
}
.projects img {max-width: 35vw;}
.projects {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4rem; row-gap: 3rem;
  align-content: stretch;
}
}


/* tablet css max1260 min501 */
@media(max-width:1260px) and (min-width: 930px){
  body{width: 100%; padding: 0%; margin: 0 0 0 2rem;}
  .intro{display: grid; grid-template-columns: 50% 50%;
    grid-template-areas: "h1 image"
                          "h2 image"
                          "h3 image";
                          
    grid-template-rows: 12rem 5rem 3rem;
    padding: 0%; margin: 0%;
                        }
    .h1{grid-area: h1; font-size: small; padding: 0%; margin: 0%; display: flex; flex-direction: column; 
    display: inline-block; }
    .flex{font-size: 4rem;}
    .intro h3{grid-area: h2; padding: 0%; margin: 0%; font-size: 1rem; 
       }
    .projects h4{display: contents;}

    .intro h4 {grid-area: h3;padding: 0%;
  }
    .intro img{ grid-area: image; right:0; top: 0px; z-index: -1;
                min-height: 90vh; width: 32vw;}
    .line1{  margin-top: -4rem; margin-left: 7rem; color: aqua;}
    hr{margin: 14rem 0 2rem 0;}
    .experience {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }
    .project-heading{display: flex; justify-content: space-around;}
    header { padding: 0%; margin: 0 0 2rem;}
    .contact{display: flex; flex-direction: column; }
}
